<main class="admin-management-page">
  <div class="admin-page-header">
    <app-page-header
      [icon]="quizCategoryConfig.icon"
      [title]="quizCategoryConfig.title"
      [subtitle]="quizCategoryConfig.subtitle"
      [theme]="quizCategoryConfig.theme"
    ></app-page-header>
  </div>
  <div class="admin-management-toolbar">
    <app-search-input
      [placeholder]="searchInputConfig.placeholder"
      [control]="searchControl"
      (search)="onSearchInputChange($event)"
      class="quiz-category-search"
    ></app-search-input>

    <div class="add-category-btn">
      <app-filled-button
        [filledButtonConfig]="addCategoryButtonConfig"
        (buttonClicked)="openAddOrEditCategory()"
      ></app-filled-button>
    </div>
  </div>

  <app-quiz-category-table
    [dataSource]="dataSource()"
    [totalItems]="totalItems()"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (actionClick)="handleCategoryAction($event)"
  ></app-quiz-category-table>
</main>
