.button-icon,
.button-image {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.button-image-only {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.primary {
  color: var(--global-primary-color);
}

.secondary {
  color: var(--global-secondary-color);
}

.gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
