<button
  [type]="config.type"
  [disabled]="config.isDisabled"
  (click)="!config.isDisabled && buttonClicked.emit($event)"
  class="outline-button"
>
  <div class="flex items-center gap-2">
    @if (isIconLeft) {
      @if (config.matIcon) {
        <mat-icon [fontSet]="config.iconFontSet" class="button-icon" [ngClass]="config.variant">
          {{ config.matIcon }}
        </mat-icon>
      } @else if (config.imageSrc) {
        <img [src]="config.imageSrc" alt="button icon" class="w-5 h-5 object-contain" />
      }
    }
    @if (hasLabel) {
      <div [ngClass]="config.variant">{{ config.label }}</div>
    }
    @if (isIconRight) {
      @if (config.matIcon) {
        <mat-icon [fontSet]="config.iconFontSet" class="button-icon" [ngClass]="config.variant">
          {{ config.matIcon }}
        </mat-icon>
      } @else if (config.imageSrc) {
        <img [src]="config.imageSrc" alt="button icon" class="w-5 h-5 object-contain" />
      }
    }
    @if (!hasLabel) {
      @if (config.matIcon) {
        <mat-icon [fontSet]="config.iconFontSet" class="button-icon" [ngClass]="config.variant">
          {{ config.matIcon }}
        </mat-icon>
      } @else if (config.imageSrc) {
        <img [src]="config.imageSrc" alt="button icon" class="w-5 h-5 object-contain" />
      }
    }
  </div>
</button>
