<mat-card class="stats-card">
  <mat-card-content>
    <div class="card-header">
      <div class="card-title-section">
        <h3 class="card-title">{{ cardConfig.title }}</h3>
        <div class="card-value" [ngClass]="valueColorClass">
          {{ cardConfig.value }}
        </div>
        @if (cardConfig.subtitle) {
          <p class="card-subtitle" [ngClass]="subtitleColorClass">
            {{ cardConfig.subtitle }}
          </p>
        }
      </div>
      @if (hasRightElement) {
        <div class="card-right-section">
          @if (showIcon) {
            <div class="card-icon" [ngClass]="iconColorClass">
              <mat-icon>{{ cardConfig.icon }}</mat-icon>
            </div>
          }
          @if (showTag) {
            <div class="card-tag">
              <app-tag [tagConfig]="cardConfig.tag!"></app-tag>
            </div>
          }
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
