<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  @for (field of registerFields; track field.name) {
    <div class="form-field">
      <label [for]="field.name">{{ field.label }}</label>
      <div class="input-group">
        <mat-icon fontSet="material-icons-outlined">
          @switch (field.name) {
            @case ('fullName') {
              account_circle
            }
            @case ('email') {
              mail
            }
            @case ('password') {
              lock
            }
          }
        </mat-icon>
        <input
          [id]="field.name"
          [type]="field.type"
          [formControlName]="field.name"
          [placeholder]="field.placeholder"
          required
        />
      </div>
    </div>

    @if (registerForm.get(field.name)?.invalid && registerForm.get(field.name)?.touched) {
      <div class="error">
        @if (registerForm.get(field.name)?.hasError('required')) {
          {{ field.label }} is required.
        }
        @if (registerForm.get(field.name)?.hasError('email')) {
          Please enter a valid email.
        }
        @if (registerForm.get(field.name)?.hasError('minlength')) {
          {{ field.label }} must be at least
          {{ registerForm.get(field.name)?.errors?.['minlength'].requiredLength }} characters.
        }
      </div>
    }
  }

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  <app-filled-button [filledButtonConfig]="buttonConfig" class="signup-button">
    @if (isLoading) {
      <span class="loader"></span>
    }
  </app-filled-button>
</form>
