<!-- Register Form -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  @for (field of registerFields; track field.name) {
    <div class="d-flex flex-column justify-content-start form-field pb-1">
      <mat-label>{{ field.label }}</mat-label>

      <mat-form-field appearance="outline" class="full-width" [floatLabel]="'auto'">
        <mat-icon fontSet="material-icons-outlined" matPrefix>{{ field.icon || 'input' }}</mat-icon>

        <input
          #fieldRef
          matInput
          [id]="field.name"
          [type]="field.type"
          [formControlName]="field.name"
          [placeholder]="field.placeholder"
          autocomplete="off"
          required
        />

        @if (field.type === 'password') {
          <button mat-icon-button matSuffix type="button" [appTogglePassword]="fieldRef">
            <mat-icon fontSet="material-icons-outlined">visibility_off</mat-icon>
          </button>
        }

        <!-- Single mat-error block handling all validations -->
        @if (registerForm.get(field.name)?.invalid && registerForm.get(field.name)?.touched) {
          <mat-error>
            @if (registerForm.get(field.name)?.hasError('required')) {
              {{ field.validationMessages?.['required'] || field.label + ' is required.' }}
            } @else if (registerForm.get(field.name)?.hasError('minlength')) {
              {{ field.validationMessages?.['minlength'] || field.label + ' is too short.' }}
            } @else if (registerForm.get(field.name)?.hasError('pattern')) {
              @if (
                field.name === 'password' && registerForm.get('password')?.value?.includes(' ')
              ) {
                Password must not contain spaces.
              } @else {
                {{ field.validationMessages?.['pattern'] || 'Invalid format.' }}
              }
            }
          </mat-error>
        }
      </mat-form-field>
    </div>
  }

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  <app-filled-button [filledButtonConfig]="buttonConfig" class="signup-button">
    @if (isLoading) {
      <span class="loader"></span>
    }
  </app-filled-button>
</form>
