<!-- Register Form -->
<form class="custom-form-field" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  @for (field of registerFields; track field.name) {
    <div class="d-flex flex-column justify-content-start form-field pb-1">
      <mat-label>{{ field.label }}</mat-label>

      <mat-form-field appearance="outline" class="full-width" [floatLabel]="'auto'">
        <mat-icon fontSet="material-icons-outlined" matPrefix>{{ field.icon || 'input' }}</mat-icon>

        <input
          #fieldRef
          matInput
          [id]="field.name"
          [type]="field.type"
          [formControlName]="field.name"
          [placeholder]="field.placeholder"
          autocomplete="off"
          required
        />

        @if (field.type === 'password') {
          <button mat-icon-button matSuffix type="button" [appTogglePassword]="fieldRef">
            <mat-icon fontSet="material-icons-outlined">visibility_off</mat-icon>
          </button>
        }

        <!-- Single mat-error block handling all validations -->
        @if (registerForm.get(field.name)?.invalid && registerForm.get(field.name)?.touched) {
          <mat-error>
            {{ getError(field.name) }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  }

  <app-filled-button [filledButtonConfig]="registerButton" class="signup-button">
  </app-filled-button>
</form>
