<div class="dialog-overlay" (click)="handleBackdropClick($event)">
  <div
    class="dialog-content"
    role="dialog"
    aria-labelledby="dialog-title"
    aria-describedby="dialog-description"
  >
    <!-- Close Button -->
    <button
      mat-icon-button
      type="button"
      class="close-button"
      (click)="handleCancel()"
      aria-label="Close"
    >
      <mat-icon>close</mat-icon>
    </button>

    <!-- Dialog Header -->
    <div class="dialog-header">
      <h2 id="dialog-title">{{ isEditMode ? 'Edit User' : 'Add New User' }}</h2>
      <p id="dialog-description">
        {{
          isEditMode
            ? 'Update the user details below.'
            : 'Create a new user account. Fill in the details below.'
        }}
      </p>
    </div>

    <!-- Dialog Body -->
    <div class="dialog-body custom-form-field-override">
      <app-register
        [isLogin]="true"
        [user]="user"
        [isEditMode]="isEditMode"
        (saveUser)="onRegisterSaveUser($event)"
        (formCancelled)="handleCancel()"
      >
      </app-register>
    </div>
  </div>
</div>
