.bg-avatar-0 {
  background-color: #ffb703;
  color: #000;
}

.bg-avatar-1 {
  background-color: #fb8500;
  color: #fff;
}

.bg-avatar-2 {
  background-color: #219ebc;
  color: #fff;
}

.bg-avatar-3 {
  background-color: #8ecae6;
  color: #000;
}

.bg-avatar-4 {
  background-color: #ff006e;
  color: #fff;
}

.bg-avatar-5 {
  background-color: #8338ec;
  color: #fff;
}

.bg-avatar-6 {
  background-color: #3a86ff;
  color: #fff;
}

.bg-avatar-7 {
  background-color: #06d6a0;
  color: #000;
}

.bg-avatar-8 {
  background-color: #ef476f;
  color: #fff;
}

.bg-avatar-9 {
  background-color: #ffd166;
  color: #000;
}

.bg-avatar-10 {
  background-color: #118ab2;
  color: #fff;
}

.bg-avatar-11 {
  background-color: #073b4c;
  color: #fff;
}
