<!-- Step 1 -->
<div class="mb-5">
  <h2 class="form-heading">{{ isEditMode ? 'Edit Quiz' : 'Create Quiz' }}</h2>
  <span class="text-xs text-gray-500"> Enter basic quiz information and settings </span>
</div>

<!-- basic quiz detail like name, category, description, etc. -->
@if (newQuizForm) {
  <form
    class="grid grid-cols-1 sm:grid-cols-2 gap-1 sm:gap-3 no-icon-mat-btn no-bottom-margin-select"
    [formGroup]="newQuizForm"
  >
    @for (field of filteredNewQuizFields; track field.name) {
      @if (field.name !== 'price' || newQuizForm.get('isPaid')?.value) {
        <div class="form-field" [ngClass]="field.gridClass || 'col-span-1'" style="min-width: 0">
          @if (field.type === 'checkbox') {
            <div
              class=""
              [ngClass]="
                newQuizForm.get(field.name)?.value ? 'mt-0 mb-3 sm:pt-3 sm:mt-4 sm:mb-0' : ''
              "
            >
              <div class="flex items-center">
                <div class="font-medium text-sm">
                  {{ field.label }}
                </div>
                <mat-slide-toggle
                  color="primary"
                  class="small-toggle ml-4"
                  [formControlName]="field.name"
                >
                </mat-slide-toggle>
              </div>
            </div>
            <mat-error>
              {{ getError(field.name) }}
            </mat-error>
          } @else {
            <mat-label class="font-medium mb-0 block text-sm">{{ field.label }}</mat-label>
            <mat-form-field
              appearance="outline"
              class="w-full"
              [floatLabel]="'auto'"
              [ngClass]="field.type === 'textarea' ? 'custom-form-field-text' : 'custom-form-field'"
            >
              @if (field.type === 'select') {
                <mat-select
                  [id]="field.name"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                >
                  @for (option of field.options ?? []; track option.value) {
                    <mat-option [value]="option.value">{{ option.label }}</mat-option>
                  }
                </mat-select>
              } @else if (field.type === 'textarea') {
                <textarea
                  matInput
                  [id]="field.name"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  rows="3"
                  class="text-area-height"
                ></textarea>
              } @else {
                <input
                  matInput
                  [id]="field.name"
                  [type]="field.type"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder"
                  autocomplete="off"
                />
              }
              <mat-error>
                {{ getError(field.name) }}
              </mat-error>
            </mat-form-field>
          }
        </div>
      }
    }

    <!-- Add Tags Section -->
    @if (getFieldByName('tags')) {
      <div class="col-span-1 sm:col-span-2">
        <mat-label class="font-medium mb-1 block text-sm">Tags</mat-label>

        <div class="flex flex-row items-start sm:items-center gap-2 mb-2">
          <mat-form-field
            appearance="outline"
            class="w-full custom-form-field"
            [floatLabel]="'auto'"
          >
            <input
              matInput
              [(ngModel)]="tagInput"
              [ngModelOptions]="{ standalone: true }"
              [matAutocomplete]="auto"
              placeholder="Enter tag"
              autocomplete="off"
            />
            <mat-autocomplete #auto="matAutocomplete">
              @for (tag of filteredTags(); track tag) {
                <mat-option [value]="tag">
                  {{ tag }}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <app-outline-button
            [outlineButtonConfig]="addTagButton"
            class="mb-5"
            (buttonClicked)="addTag()"
          ></app-outline-button>
        </div>

        <div class="flex flex-wrap gap-2 mb-2">
          @for (tag of tagList; track tag) {
            <app-tag [tagConfig]="tag" (tagClosed)="removeTag(tag)"></app-tag>
          }
        </div>
      </div>
    }

    <div class="col-span-1 sm:col-span-2">
      <hr class="border-t border-gray-200" />
    </div>

    <!-- how many questions to add -->
    <div class="col-span-1 sm:col-span-2 grid grid-cols-1 sm:grid-cols-3 gap-3">
      @for (field of questionFields; track field.name) {
        <div class="form-field" [ngClass]="field.gridClass || 'col-span-1'">
          <mat-label class="font-medium mb-0 block text-sm">{{ field.label }}</mat-label>
          <mat-form-field
            appearance="outline"
            class="w-full custom-form-field-text"
            [floatLabel]="'auto'"
            [ngClass]="field.type === 'textarea' ? 'custom-form-field-text' : 'custom-form-field'"
          >
            <input
              matInput
              [id]="field.name"
              [type]="field.type"
              [formControlName]="field.name"
              [placeholder]="field.placeholder"
              autocomplete="off"
            />
            <mat-error>
              {{ getError(field.name) }}
            </mat-error>
          </mat-form-field>
        </div>
      }
    </div>

    <div class="text-gray-500 m-0 p-0">Total Questions: {{ totalQuestionsStep1 }}</div>
  </form>
}
