<main class="user-management">
  <h2 class="page-heading">User Management</h2>
  <div class="user-page-header">
    <app-page-header
      [icon]="userConfig.icon"
      [title]="userConfig.title"
      [subtitle]="userConfig.subtitle"
      [theme]="userConfig.theme"
    ></app-page-header>
  </div>
  <div class="user-management-toolbar">
    <app-search-input
      [placeholder]="searchInputConfig.placeholder"
      [control]="searchControl"
      (search)="onSearchInputChange($event)"
      class="user-management-search-bar"
    ></app-search-input>

    <div class="user-management-filters">
      <!-- Role Filter -->
      <mat-form-field appearance="outline" class="filter-select">
        <mat-select
          [(value)]="selectedRole"
          (selectionChange)="onFilterChange()"
          placeholder="All Roles"
        >
          <mat-option [value]="''">All Roles</mat-option>
          @for (role of userRoles; track role.value) {
            <mat-option [value]="role.value">{{ role.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Status Filter -->
      <mat-form-field appearance="outline" class="filter-select">
        <mat-select
          [(value)]="selectedStatus"
          (selectionChange)="onFilterChange()"
          placeholder="All Status"
        >
          <mat-option [value]="''">All Status</mat-option>
          @for (status of userStatus; track status.value) {
            <mat-option [value]="status.value">{{ status.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="user-management-btns">
      <app-outline-button
        [outlineButtonConfig]="addUserButtonConfig"
        class="add-user"
      ></app-outline-button>
      <app-filled-button
        [filledButtonConfig]="exportButtonConfig"
        (buttonClicked)="exportUsers()"
        class="export-users"
      ></app-filled-button>
    </div>
  </div>

  <app-user-table
    [dataSource]="dataSource()"
    [totalItems]="totalItems()"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
  ></app-user-table>
</main>
