<main class="player-management-page">
  <div class="search-container">
    <div class="card">
      <!-- Searching State -->
      @if (isSearching) {
        <div class="relative">
          <!-- ✅ Custom Loader -->
          <div class="custom-loader">
            <mat-icon fontSet="material-icons-outlined">offline_bolt</mat-icon>
          </div>
        </div>
        <h2 class="my-2">Finding Opponent</h2>
        <p class="my-2">Matching you with a player of similar skill level...</p>

        <div class="quiz-info">
          <h3>{{ battleData.battleName }}</h3>
          <p>
            {{ battleData.battleCategory }} • {{ battleData.battleDifficulty }} •
            {{ battleData.battleXp }} XP
          </p>
        </div>

        <p class="timer">Searching for {{ searchSeconds }}s...</p>

        <app-outline-button
          [outlineButtonConfig]="cancelSearchButtonConfig"
          (buttonClicked)="cancelSearch()"
          class="cancel-search-opponent"
        ></app-outline-button>
      } @else {
        <!-- Opponent Found State -->
        <div class="icon-found">
          @if (opponent?.profilePic) {
            @if (!isImageError) {
              <img [src]="opponent?.profilePic" (error)="imageError()" />
            } @else {
              <mat-icon fontSet="material-icons-outlined" class="icon-success">person</mat-icon>
            }
          } @else {
            <mat-icon fontSet="material-icons-outlined" class="icon-success">person</mat-icon>
          }
        </div>
        <h2 class="font-bold my-2">Opponent Found!</h2>
        <p class="my-2">Get ready to battle</p>

        <div class="opponent-info">
          <strong>{{ opponent?.userName }}</strong>
          <p>Level {{ opponent?.currentLevel }}</p>
          <p>{{ opponent?.winRate }} win rate</p>
        </div>

        <p class="timer">Starting battle in a few seconds...</p>
      }
    </div>
  </div>
</main>
