<div class="auth-main-container">
  <div class="auth-card">
    <div class="header">
      <h1>Back to QuizVerse</h1>
      <p>Welcome to QuizVerse</p>
      <p class="subtext">Sign in to your account or create a new one</p>
    </div>

    <div class="auth-content">
      <h2>Sign In</h2>
      <app-login></app-login>

      <div class="divider">
        <span>Or continue with</span>
      </div>

      <div class="social-buttons">
        <app-filled-button [filledButtonConfig]="googleButton"></app-filled-button>
        <app-filled-button [filledButtonConfig]="facebookButton"></app-filled-button>
      </div>
    </div>
  </div>
</div>
