.remember {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;

  .signIn {
    margin-left: 0.5rem;
    color: var(--global-primary-color);
    font-weight: 600;
  }
}

.subtext {
  color: #64748b !important;
  font-size: 0.875rem !important;
}

.logo {
  .mat-icon {
    font-size: 2rem !important;
    font-weight: 500 !important;
  }
}
