<div class="welcome-banner">
  <div class="content">
    <h2 class="title">Welcome, {{ userDetails.userName }}! 🎉</h2>

    <p class="subtitle">
      Ready to challenge your knowledge? You're currently ranked
      <strong>#{{ userDetails.currentRank }}</strong> globally!
    </p>

    <div class="user-dashboard-actions">
      <app-filled-button
        [filledButtonConfig]="quickBattleConfig"
        (buttonClicked)="quickBattleNavigate()"
      ></app-filled-button>
      <app-filled-button
        [filledButtonConfig]="browseQuizzesConfig"
        (buttonClicked)="browseQuizNavigate()"
      ></app-filled-button>
    </div>
  </div>
</div>
