<app-navbar
  [isLogin]="isLogin"
  [isAdmin]="isAdmin"
  (openSidebar)="handleSidebarOpen()"
  (closeSidebar)="handleSidebarClose()"
></app-navbar>
<div class="layout-container">
  <app-sidebar
    [sidebarItems]="sidebarItems"
    [role]="role"
    (sidebarClosed)="handleSidebarClosedByBackdrop()"
  ></app-sidebar>
  <main class="main-content">
    <router-outlet></router-outlet>
    @if (!isAdmin) {
      <app-battle-request-notifications></app-battle-request-notifications>
    }
  </main>
</div>
