.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 113px);
}

.opponent-found-main {
  background: var(--global-bg-gradient);
  min-height: 100vh;
}

.card {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.5rem;
  }

  p {
    color: #666;
  }

  @media (max-width: 380px) {
    padding-inline: 1rem;
  }
}

.opponent-info {
  margin: 1.5rem 0;
  padding: 10px 25px;
  text-align: left;
  background: var(--global-bg-gradient);
  border-radius: 5px;
  strong {
    font-size: 1.2rem;
    display: block;
  }
}

.timer {
  margin-block: 1rem;
  font-size: 0.9rem;
  color: #444;
}

.icon-found {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-inline: auto;

  img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  .icon-success {
    font-size: 50px;
    padding-bottom: 3px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    border-radius: 50%;
    color: white;
    background: var(--global-secondary-color);
  }
}
