<form class="custom-form-field" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  @for (field of loginFields; track field.name) {
    <div class="form-field">
      <mat-label>{{ field.label }}</mat-label>

      <mat-form-field appearance="outline" class="full-width" [floatLabel]="'auto'">
        <mat-icon fontSet="material-icons-outlined" matPrefix>{{
          field.icon || 'person'
        }}</mat-icon>

        <input
          #fieldRef
          matInput
          [id]="field.name"
          [type]="field.type"
          [formControlName]="field.name"
          [placeholder]="field.placeholder"
          [autocomplete]="field.name === 'password' ? 'current-password' : 'email'"
          required
        />

        @if (field.type === 'password') {
          <button
            mat-icon-button
            matSuffix
            type="button"
            [appTogglePassword]="fieldRef"
            aria-label="Toggle password visibility"
          >
            <mat-icon fontSet="material-icons-outlined">visibility_off</mat-icon>
          </button>
        }

        <mat-error>
          {{ getError(field.name) }}
        </mat-error>
      </mat-form-field>
    </div>
  }
  <div class="flex justify-end items-center mb-3">
    <a class="forgot-password" routerLink="/forgot-password">Forgot password?</a>
  </div>

  <app-filled-button [filledButtonConfig]="signInButton" class="signin-button"> </app-filled-button>
</form>
