<main class="player-management-page">
  <div class="player-page-heading">
    <app-page-header
      [icon]="leaderboardHeaderConfig.icon"
      [title]="leaderboardHeaderConfig.title"
      [subtitle]="leaderboardHeaderConfig.subtitle"
      [theme]="leaderboardHeaderConfig.theme"
    ></app-page-header>
  </div>

  <div class="player-page-header">
    <app-global-leaderboard-card></app-global-leaderboard-card>
  </div>

  <div class="leaderboard-tabs">
    <app-common-tab
      [tabs]="tabs"
      [selectedIndex]="selectedIndex"
      (tabChanged)="onTabChanged($event)"
    >
    </app-common-tab>
  </div>
</main>
