<form [formGroup]="form" (ngSubmit)="createOrUpdateQuestion()" class="px-1">
  <div class="grid gap-1">
    @for (field of fields; track field.name) {
      <div [ngClass]="field.gridClass || 'col-span-1'">
        <!-- Label -->
        <mat-label class="block mb-1 font-medium text-gray-700">{{ field.label }}</mat-label>

        <!-- Text Field -->
        @if (field.type === 'text') {
          <div>
            <mat-form-field
              class="custom-form-field full-width"
              appearance="outline"
              [floatLabel]="'auto'"
            >
              <mat-icon fontSet="material-icons-outlined" matPrefix>
                {{ field.icon || 'edit' }}
              </mat-icon>

              <input
                matInput
                [id]="field.name"
                [type]="field.type"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                autocomplete="off"
                class="custom-input-field"
              />

              @if (form.get(field.name)?.touched && form.get(field.name)?.invalid) {
                <mat-error>
                  {{ getError(field.name) }}
                </mat-error>
              }
            </mat-form-field>
          </div>
        }

        <!-- Select Field -->
        @if (field.type === 'select') {
          <mat-form-field
            appearance="outline"
            class="custom-form-field full-width dropdown-error font-small"
          >
            <mat-select
              [formControlName]="field.name"
              [placeholder]="field.placeholder"
              (selectionChange)="field.name === 'type' && updateFieldsByType($event.value)"
            >
              <mat-option value="">-- {{ field.placeholder }} --</mat-option>
              @for (opt of field.options; track opt.value) {
                <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
              }
            </mat-select>

            @if (form.get(field.name)?.touched && form.get(field.name)?.invalid) {
              <mat-error>
                {{ getError(field.name) }}
              </mat-error>
            }
          </mat-form-field>
        }

        <!-- Textarea -->
        @if (field.type === 'textarea') {
          <mat-form-field appearance="outline" class="custom-form-field-text full-width">
            <mat-icon fontSet="material-icons-outlined" class="mt-4" matPrefix>
              {{ field.icon || 'edit' }}
            </mat-icon>
            <textarea
              matInput
              [id]="field.name"
              [formControlName]="field.name"
              [placeholder]="field.placeholder"
              class="custom-input-field"
            ></textarea>
            @if (form.get(field.name)?.touched && form.get(field.name)?.invalid) {
              <mat-error>{{ getError(field.name) }}</mat-error>
            }
          </mat-form-field>
        }
      </div>
    }
  </div>
  <div class="dialog-actions">
    <app-outline-button
      [outlineButtonConfig]="cancelBtn"
      (click)="closeDailog()"
    ></app-outline-button>
    <app-filled-button [filledButtonConfig]="submitBtn" type="submit"></app-filled-button>
  </div>
</form>
