// Tab Component styles
.mat-mdc-tab-group {
  .mat-mdc-tab-header {
    justify-content: flex-start;
    background: transparent;
    border-bottom: none;
    margin-bottom: 15px;
  }

  .mat-mdc-tab-label-container {
    border-bottom: none;
    padding-bottom: 5px;
  }

  .mat-mdc-tab-list {
    flex-grow: 0;
  }

  .mat-mdc-tab-labels {
    gap: 6px;
  }

  .mat-mdc-tab .mdc-tab__ripple::before,
  .mat-mdc-tab .mdc-tab__ripple::after {
    background-color: transparent !important;
  }

  .mat-mdc-tab-group.mat-mdc-tab-group {
    --mdc-ripple-color: transparent;
    --mdc-ripple-hover-opacity: 0;
    --mdc-ripple-press-opacity: 0;
  }

  .mat-mdc-tab-labels .mdc-tab .mat-ripple-element {
    display: none !important;
  }

  .mdc-tab {
    padding: 6px 12px !important;
    border-radius: 5px;
    height: auto;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    transition:
      background-color 0s,
      color 0s;

    .mdc-tab__content {
      justify-content: center !important;
    }

    .mdc-tab__text-label {
      text-align: center !important;
      width: 100%;
      margin-bottom: 0 !important;
      color: #848b96;
    }

    .mat-icon {
      margin-right: 5px;
      font-size: 20px;
      padding-top: 1px;
    }
  }

  .mdc-tab--active {
    background-color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mdc-tab-indicator {
    display: none !important;
  }
}

// Removes default hover background for custom sidebar styling
.no-hover-before .mat-mdc-list-item.mat-mdc-list-item-interactive:hover::before {
  background-color: transparent !important;
}

// Login SignUp Page Tabs Override
.login-signup-tabs .mat-mdc-tab-list {
  background: #f1f5f9 !important;
  border-radius: 0.5rem !important;
  padding: 0.25rem !important;
  width: 100% !important;
  height: 40px !important;

  .mat-mdc-tab-labels {
    height: 32px !important;
  }
}
