// Tab Component styles
.mat-mdc-tab-group {
  .mat-mdc-tab-header {
    justify-content: flex-start;
    background: transparent;
    border-bottom: none;
    margin-bottom: 15px;
  }

  .mat-mdc-tab-label-container {
    border-bottom: none;
    padding-bottom: 5px;
  }

  .mat-mdc-tab-list {
    flex-grow: 0;
  }

  .mat-mdc-tab-labels {
    gap: 6px;
  }

  .mat-mdc-tab .mdc-tab__ripple::before,
  .mat-mdc-tab .mdc-tab__ripple::after {
    background-color: transparent !important;
  }

  .mat-mdc-tab-group.mat-mdc-tab-group {
    --mdc-ripple-color: transparent;
    --mdc-ripple-hover-opacity: 0;
    --mdc-ripple-press-opacity: 0;
  }

  .mat-mdc-tab-labels .mdc-tab .mat-ripple-element {
    display: none !important;
  }

  .mdc-tab {
    padding: 6px 12px !important;
    border-radius: 5px;
    height: auto;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    transition:
      background-color 0s,
      color 0s;

    .mdc-tab__content {
      justify-content: center !important;
    }

    .mdc-tab__text-label {
      text-align: center !important;
      width: 100%;
      margin-bottom: 0 !important;
      color: #848b96;
    }

    .mat-icon {
      margin-right: 5px;
      font-size: 20px;
      padding-top: 1px;
    }
  }

  .mdc-tab--active {
    background-color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mdc-tab-indicator {
    display: none !important;
  }
}

// Removes default hover background for custom sidebar styling
.no-hover-before .mat-mdc-list-item.mat-mdc-list-item-interactive:hover::before {
  background-color: transparent !important;
}

// profile-menu
.profile-menu {
  .mat-mdc-menu-content {
    width: 220px;
    background-color: white;
    padding: 0.25rem;

    .mat-mdc-menu-item:not([disabled]):hover {
      background-color: #bdd2e73b;
    }
  }

  .logout-item {
    .mat-icon {
      color: red !important;
    }

    &:hover {
      .mat-icon {
        color: black !important;
      }
    }
  }
}

// Login SignUp Page Tabs Override
.login-signup-tabs .mat-mdc-tab-list {
  background: #f1f5f9 !important;
  border-radius: 0.5rem !important;
  padding: 0.25rem !important;
  width: 100% !important;
  height: 40px !important;

  .mat-mdc-tab-labels {
    height: 32px !important;
  }
}

.mat-mdc-snack-bar-container {
  background-color: white !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  z-index: 9999;
  animation: slideInFromBottomRight 0.3s ease-out;
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e2e2e2;

  --mdc-snackbar-container-shape: 12px;
  --mdc-snackbar-supporting-text-font:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  .mat-mdc-snackbar-surface {
    background-color: inherit !important;
    box-shadow: none !important;
    line-height: 1.4rem !important;
  }

  @media screen and (max-width: 599px) {
    width: calc(100% - 40px);
    max-width: 90%;

    .mat-mdc-snackbar-surface .mdc-snackbar__label {
      padding: 5px !important;
    }
  }
}

.styled-snackbar {
  font-family: system-ui, sans-serif;
}

.success,
.error,
.info,
.warning {
  --mdc-snackbar-supporting-text-color: white;
}

.success {
  background-color: var(--color-success) !important;
}

.error {
  background-color: var(--color-error) !important;
}

.warning {
  background-color: var(--color-warn) !important;
}

.info {
  background-color: var(--color-info) !important;
}

@keyframes slideInFromBottomRight {
  from {
    transform: translateX(100%) translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.signup-button {
  .filled-button {
    margin-top: 13px;
  }
}

.custom-form-field {
  .mat-mdc-form-field {
    @include mat.typography-hierarchy($custom-typography, font-family);
    width: 100%;

    .mat-mdc-text-field-wrapper {
      height: 40px !important;
      border: 1px solid #d3d3d3 !important;
      border-radius: 8px !important;
      width: 100%;

      &:hover,
      &:focus-within {
        border-color: var(--global-primary-color) !important;
        box-shadow: 0 0 0 1px var(--global-primary-color);
      }

      .mat-mdc-form-field-flex {
        height: 40px !important;
        align-items: center;
        padding: 0px 8px !important;

        .mdc-notched-outline {
          .mdc-notched-outline__trailing,
          .mdc-notched-outline__leading {
            border: none !important;
          }
        }

        .mat-mdc-form-field-infix {
          min-height: 40px !important;
          display: flex;
          align-items: center;

          @include mat.m2-typography-level($custom-typography, body-1);

          .mdc-text-field__input {
            padding: 14px 0px 10px 0px !important;

            &::placeholder {
              color: #9ca3af;
            }
          }
        }

        .mat-mdc-form-field-icon-prefix {
          mat-icon {
            padding: 2px 5px 0 5px;
          }
        }

        .mat-mdc-form-field-icon-suffix {
          mat-icon {
            padding: 2px 5px 0 5px;
          }
        }
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      .mat-mdc-form-field-error-wrapper {
        padding: 0rem;
        height: 100%;
        padding-top: 3px;

        mat-error {
          @include mat.m2-typography-level($custom-typography, caption);

          color: #ef4444 !important;
          display: flex;
          justify-content: start;
          align-items: center;
          margin-bottom: 30px;
        }
      }
    }
  }
}

//#region Dropdown-Styles
/* drop Down Styles */
.mat-mdc-form-field.mat-mdc-form-field-type-mat-select {
  @include mat.typography-hierarchy($custom-typography, font-family);
  width: 100%;
  margin-bottom: -19px;

  .mat-mdc-text-field-wrapper {
    height: 40px !important;
    border: 1px solid #d3d3d3 !important;
    border-radius: 8px !important;

    &:hover,
    &:focus-within {
      border-color: var(--global-primary-color) !important;
      box-shadow: 0 0 0 1px var(--global-primary-color);
    }

    .mat-mdc-form-field-flex {
      height: 40px !important;
      align-items: center;

      .mdc-notched-outline {
        .mdc-notched-outline__trailing,
        .mdc-notched-outline__leading {
          border: none !important;
        }
      }

      .mat-mdc-form-field-infix {
        min-height: 40px !important;
        display: flex;
        align-items: center;

        @include mat.m2-typography-level($custom-typography, body-1);
      }
    }
  }
}

.mat-mdc-form-field-type-mat-select .mdc-text-field {
  padding-inline: 8px !important;
}

.mat-mdc-select-panel {
  border-radius: 8px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) !important;
  background-color: #ffffff !important;
  padding: 4px 0 !important;
}

.mat-mdc-option {
  gap: 10px;
  border-radius: 4px !important;
  margin: 2px 4px;
}

.mat-mdc-option.mdc-list-item {
  padding-left: 16px !important;
  padding-top: 3px !important;
  min-height: 35px !important;
  font-size: 14px !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  padding-left: 16px !important;
  background-color: #d4d4d4 !important;
}

.mat-mdc-option .mat-pseudo-checkbox {
  margin: 0;
}

.mat-mdc-option .mat-pseudo-checkbox-minimal {
  margin-left: 10px !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  height: 4px !important;
  width: 10px !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 8px !important;
  padding-inline: 8px !important;
}

.mat-mdc-select-value {
  color: #1a1b1f !important;
  font-weight: 400 !important;
  font-size: 14px;
  padding-top: 8px;
}

.mat-mdc-select-arrow svg {
  fill: #1a1b1f !important;
  padding-top: 8px;
}

.cdk-overlay-pane {
  margin: 5px 0px;
}
//#endregion

.custom-paginator .mat-mdc-form-field.mat-mdc-form-field-type-mat-select {
  width: 80px !important;
  margin: initial !important;
  .mat-mdc-select-value {
    padding: initial !important;
  }
  .mat-mdc-select-arrow svg {
    width: initial !important;
    height: initial !important;
    padding: initial !important;
  }
}

.custom-paginator .mat-mdc-paginator-range-actions .mat-mdc-paginator-range-label {
  @media (max-width: 400px) {
    margin: 0 10px 0 10px !important;
  }
}
