:root {
  --black-color: #0f172a;
  --white-color: #f3f4f6;
  --green-color: #1b6838;
  --brown-color: #991b1b;
  --purple-color: #6b21a8;
  --yellow-color: #854d0e;
  --orange-color: #b05e3e;
  --gray-color: #4b5563;
  --blue-color: #1e3a8a;
  --red-color: #b91c1c;

  // for snackbar messages background
  --color-error: #e74d3c;
  --color-success: #07bc0c;
  --color-warn: #f1c40f;
  --color-info: #3498db;

  --light-green-color: #dcfce7;
  --light-brown-color: #fee2e2;
  --light-purple-color: #f3e8ff;
  --light-yellow-color: #fef9c3;
  --light-orange-color: #ffedd5;
  --light-blue-color: #bfdbfe;
  --light-red-color: #fecaca;

  --dark-gray-color: #111827;

  --global-primary-color: #9333ea;
  --global-secondary-color: #2563eb;

  --gradient: linear-gradient(
    90deg,
    var(--global-primary-color) 12%,
    var(--global-secondary-color) 63%
  );

  --global-primary-color-rgb: 147, 51, 234;
  --global-secondary-color-rgb: 37, 99, 235;

  --highlight-gradient: linear-gradient(
    to right,
    rgba(var(--global-primary-color-rgb), 0.1),
    rgba(var(--global-secondary-color-rgb), 0.1)
  );

  --global-primary-border-color: #e9d5ff;

  --global-admin-primary-color: #b91c1c;

  --global-admin-primary-color-rgb: 255, 99, 71;
  --global-admin-secondary-color-rgb: 255, 140, 0;

  --global-bg-purple: #f5f3ff;
  --global-bg-blue: #eff6ff;
  --global-bg-indigo: #eef2ff;

  //this background-color will be used in all the pages
  --global-bg-gradient: linear-gradient(
    to bottom right,
    var(--global-bg-purple),
    var(--global-bg-blue),
    var(--global-bg-indigo)
  );
}
