.rank-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
}

/* For top 3 ranks */
.rank-icon.top-rank {
  background-color: #fff7d1; /* light yellow */
  color: #8b4513; /* brown text */
}

/* For others */
.rank-icon.other-rank {
  background-color: #e0e0e0; /* silver/grey */
  color: #000; /* black text */
}
