<button
  [attr.type]="config.type"
  [disabled]="config.isDisabled"
  (click)="!config.isDisabled && buttonClicked.emit($event)"
  class="filled-button"
>
  <div class="button-content flex items-center justify-center gap-2">
    <ng-container *ngIf="isIconLeft">
      <mat-icon *ngIf="config.matIcon" [fontSet]="config.iconFontSet" class="button-icon">{{
        config.matIcon
      }}</mat-icon>
      <img
        *ngIf="!config.matIcon && config.imageSrc"
        [src]="config.imageSrc"
        alt="button icon"
        class="button-image"
      />
    </ng-container>

    <div [style.fontWeight]="validFontWeight" *ngIf="hasLabel">{{ config.label }}</div>

    <ng-container *ngIf="isIconRight">
      <mat-icon *ngIf="config.matIcon" [fontSet]="config.iconFontSet" class="button-icon">{{
        config.matIcon
      }}</mat-icon>
      <img
        *ngIf="!config.matIcon && config.imageSrc"
        [src]="config.imageSrc"
        alt="button icon"
        class="button-image"
      />
    </ng-container>

    <ng-container *ngIf="!hasLabel">
      <mat-icon *ngIf="config.matIcon" [fontSet]="config.iconFontSet" class="button-icon">{{
        config.matIcon
      }}</mat-icon>
      <img
        *ngIf="!config.matIcon && config.imageSrc"
        [src]="config.imageSrc"
        alt="button icon"
        class="button-image-only"
      />
    </ng-container>
  </div>
</button>
