<button
  [type]="config.type"
  [disabled]="config.isDisabled"
  [ngClass]="config.variant"
  (click)="!config.isDisabled && buttonClicked.emit($event)"
  class="filled-button"
>
  <div class="button-content flex items-center justify-center gap-2">
    @if (isIconLeft) {
      @if (config.matIcon) {
        <mat-icon [fontSet]="config.iconFontSet" class="button-icon">
          {{ config.matIcon }}
        </mat-icon>
      } @else if (config.imageSrc) {
        <img [src]="config.imageSrc" alt="button icon" class="button-image" />
      }
    }
    @if (hasLabel) {
      <div>{{ config.label }}</div>
    }
    @if (isIconRight) {
      @if (config.matIcon) {
        <mat-icon [fontSet]="config.iconFontSet" class="button-icon">
          {{ config.matIcon }}
        </mat-icon>
      } @else if (config.imageSrc) {
        <img [src]="config.imageSrc" alt="button icon" class="button-image" />
      }
    }
    @if (!hasLabel) {
      @if (config.matIcon) {
        <mat-icon [fontSet]="config.iconFontSet" class="button-icon">
          {{ config.matIcon }}
        </mat-icon>
      } @else if (config.imageSrc) {
        <img [src]="config.imageSrc" alt="button icon" class="button-image-only" />
      }
    }
  </div>
</button>
