<div class="auth-main-container">
  <!-- Back to Sign In link -->
  <div class="back-link-container">
    <a routerLink="/login" class="back-link">
      <img src="assets/images/back-arrow.svg" alt="Back" class="back-arrow-icon" />
      Back to Sign In
    </a>
  </div>

  <!-- Card wrapper for form content -->
  <div class="auth-card">
    <!-- Logo icon -->
    <div class="logo pb-4">
      <mat-icon class="material-icons-outlined">lock</mat-icon>
    </div>

    <!-- Heading and subtext -->
    <div class="auth-header">
      <h1>Reset Your Password</h1>
      <p class="subtext">Enter your new password below</p>
    </div>

    <!-- Reactive form for reset password -->
    <form class="custom-form-field" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Render each form field dynamically -->
      @for (field of resetFields; track field.name) {
        <div class="d-flex flex-column justify-content-start form-field pb-1">
          <mat-label>{{ field.label }}</mat-label>

          <mat-form-field appearance="outline" class="full-width" [floatLabel]="'auto'">
            <mat-icon fontSet="material-icons-outlined" matPrefix>{{
              field.icon || 'lock'
            }}</mat-icon>

            <input
              #fieldRef
              matInput
              [id]="field.name"
              type="password"
              [formControlName]="field.name"
              [placeholder]="field.placeholder"
              autocomplete="off"
              required
            />

            @if (field.type === 'password') {
              <button mat-icon-button matSuffix type="button" [appTogglePassword]="fieldRef">
                <mat-icon fontSet="material-icons-outlined">visibility_off</mat-icon>
              </button>
            }

            <mat-error>
              {{ getError(field.name) }}
            </mat-error>
          </mat-form-field>
        </div>
      }

      <!-- Submit button with loading indicator -->
      <app-filled-button [filledButtonConfig]="sendResetLinkButton" class="signin-button">
      </app-filled-button>
    </form>
  </div>
</div>
