<button
  [attr.type]="type"
  [disabled]="disabled"
  (click)="!disabled && onClick.emit($event)"
  class="outline-button bg-white text-sm font-medium rounded-lg px-5 py-2.5 me-2 mb-2 flex items-center justify-center gap-2 transition-all duration-200"
>
  <div class="flex items-center gap-2">
    <ng-container *ngIf="imagePosition === 'left' && label !== ''">
      <mat-icon
        *ngIf="matIcon"
        [fontSet]="iconFontSet"
        class="w-5 h-5 text-[color:inherit] flex items-center justify-center"
      >
        {{ matIcon }}
      </mat-icon>
      <img
        *ngIf="!matIcon && imageSrc"
        [src]="imageSrc"
        alt="button icon"
        class="w-5 h-5 object-contain"
      />
    </ng-container>

    <div [style.fontWeight]="validFontWeight" *ngIf="label !== ''">{{ label }}</div>

    <ng-container *ngIf="imagePosition === 'right' && label !== ''">
      <mat-icon
        *ngIf="matIcon"
        [fontSet]="iconFontSet"
        class="w-5 h-5 text-[color:inherit] flex items-center justify-center"
      >
        {{ matIcon }}
      </mat-icon>
      <img
        *ngIf="!matIcon && imageSrc"
        [src]="imageSrc"
        alt="button icon"
        class="w-5 h-5 object-contain"
      />
    </ng-container>

    <ng-container *ngIf="label === ''">
      <mat-icon
        *ngIf="matIcon"
        [fontSet]="iconFontSet"
        class="w-5 h-5 text-[color:inherit] flex items-center justify-center"
      >
        {{ matIcon }}
      </mat-icon>
      <img
        *ngIf="!matIcon && imageSrc"
        [src]="imageSrc"
        alt="button icon"
        class="w-5 h-5 object-contain"
      />
    </ng-container>
  </div>
</button>
