<button
  [attr.type]="config.type"
  [disabled]="config.isDisabled"
  (click)="!config.isDisabled && onClick.emit($event)"
  class="text-button"
>
  <div class="flex items-center gap-2">
    <ng-container *ngIf="isIconLeft">
      <mat-icon *ngIf="config.matIcon" [fontSet]="config.iconFontSet" class="button-icon">
        {{ config.matIcon }}
      </mat-icon>
      <img
        *ngIf="!config.matIcon && config.imageSrc"
        [src]="config.imageSrc"
        alt="button icon"
        class="w-5 h-5 object-contain"
      />
    </ng-container>

    <div [style.fontWeight]="validFontWeight" *ngIf="hasLabel">{{ config.label }}</div>

    <ng-container *ngIf="isIconRight">
      <mat-icon *ngIf="config.matIcon" [fontSet]="config.iconFontSet" class="button-icon">
        {{ config.matIcon }}
      </mat-icon>
      <img
        *ngIf="!config.matIcon && config.imageSrc"
        [src]="config.imageSrc"
        alt="button icon"
        class="w-5 h-5 object-contain"
      />
    </ng-container>

    <ng-container *ngIf="!hasLabel">
      <mat-icon *ngIf="config.matIcon" [fontSet]="config.iconFontSet" class="button-icon">
        {{ config.matIcon }}
      </mat-icon>
      <img
        *ngIf="!config.matIcon && config.imageSrc"
        [src]="config.imageSrc"
        alt="button icon"
        class="w-5 h-5 object-contain"
      />
    </ng-container>
  </div>
</button>
