/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
:root {
  --black-color: #0f172a;
  --white-color: #f8fafc;
  --green-color: #166534;
  --brown-color: #c16a6a;
  --purple-color: #6b21a8;
  --yellow-color: #854d0e;

  --light-green-color: #dcfce7;
  --light-brown-color: #fee2e2;
  --light-purple-color: #f3e8ff;
  --light-yellow-color: #fef9c3;

  --global-primary-color: #9333ea;
  --global-secondary-color: #2563eb;
  --gradient: linear-gradient(
    90deg,
    var(--global-primary-color) 12%,
    var(--global-secondary-color) 63%
  );
}

//Search Bar styles
.search-field {
  width: 100%;
  --mat-form-field-container-height: 40px;

  .search-icon {
    color: #d3d3d3;
  }

  .mdc-text-field:hover {
    border: 2px solid var(--global-primary-color);
  }

  .mdc-text-field {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
  }

  .mat-mdc-text-field-input::placeholder {
    color: #d3d3d3;
    opacity: 1;
  }

  .mat-mdc-form-field-infix {
    padding: 10px 0 !important;
  }
}

.search-purple {
  .mdc-text-field:hover {
    border: 2px solid var(--global-primary-color);
  }

  .mdc-text-field.mdc-text-field--focused {
    border: 2px solid var(--global-primary-color);
  }
}

.search-black {
  .mdc-text-field:hover {
    border: 2px solid #000000;
  }
  .mdc-text-field.mdc-text-field--focused {
    border: 2px solid #000000;
  }
}

.mdc-notched-outline__trailing,
.mdc-notched-outline__leading {
  border: none !important;
}

//Tab Component Bar styles
.mat-mdc-tab-group {
  .mat-mdc-tab-header {
    justify-content: flex-start;
    background: transparent;
    border-bottom: none;
  }

  .mat-mdc-tab-label-container {
    border-bottom: none;
    padding-bottom: 5px;
  }

  .mat-mdc-tab-list {
    flex-grow: 0;
  }

  .mat-mdc-tab-labels {
    gap: 8px; // adds clean spacing between tabs
  }

  .mdc-tab {
    padding: 6px 12px !important;
    border-radius: 5px;
    height: auto;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    transition:
      background-color 0s,
      color 0s;
    color: #a7b1c0; // slate-700

    .mat-icon {
      margin-right: 8px;
      font-size: 20px;
      padding-top: 2px;
    }
  }

  .mdc-tab--active {
    background-color: white;
    color: #000000;
    font-weight: 500;
  }

  .mdc-tab-indicator {
    display: none !important;
  }
}

// Shared filled button styles
.filled-button {
  @apply text-white font-medium rounded-lg text-sm px-5 py-2.5;
  cursor: pointer;
  font-weight: var(--font-weight);
  opacity: 1;
  transition:
    opacity 0.2s ease,
    cursor 0.2s ease;

  &.primary {
    background: var(--global-primary-color);
  }

  &.secondary {
    background: var(--global-secondary-color);
  }

  &.gradient {
    background: var(--gradient);
  }

  &:hover:not(:disabled) {
    opacity: 0.85;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

// Shared outline button styles
.outline-button {
  @apply bg-white border text-sm font-medium rounded-lg px-5 py-2.5 flex items-center justify-center gap-2 transition-all duration-200;
  border: 1px solid #d1d5db;
  border-color: #d1d5db;
  font-weight: var(--font-weight);

  &:hover:not(:disabled) {
    background-color: #eeeeee;
    opacity: 0.85;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

// Shared text button styles
.text-button {
  @apply bg-white text-sm font-medium rounded-lg px-5 py-2.5 flex items-center justify-center gap-2 transition-all duration-200;
  font-weight: var(--font-weight);

  &:hover:not(:disabled) {
    background-color: #eeeeee;
    opacity: 0.85;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}
