<div class="badge-grid">
  <div class="badges-card">
    <div class="flex items-center p-2 gap-2 text-green-900">
      <mat-icon class="header-icon">emoji_events</mat-icon>
      <h3 class="title">Achievements</h3>
    </div>

    <div class="flex flex-col p-2">
      <p class="subtitle">Your earned badges and progress toward new ones</p>
      <div class="badge-legend">
        <div><span class="badge-dot bronze"></span> Bronze</div>
        <div><span class="badge-dot silver"></span> Silver</div>
        <div><span class="badge-dot gold"></span> Gold</div>
        <div><span class="badge-dot platinum"></span> Platinum</div>
      </div>
    </div>

    <div class="badge-list">
      @for (badge of badges | slice: 0 : 3; track badge.badgeId) {
        <div
          class="badge-item"
          [ngClass]="[badge.earned ? 'earned' : 'locked', getBadgeClass(badge)]"
        >
          <div class="flex items-center">
            <div class="badge-icon">
              <mat-icon fontSet="material-icons-outlined">military_tech</mat-icon>
            </div>

            <div class="badge-info">
              <h4>{{ badge.name }}</h4>
              <p>{{ badge.description }}</p>
            </div>
          </div>

          <app-tag [tagConfig]="getTagConfig(badge)"></app-tag>
        </div>
      }
    </div>
  </div>
  <div class="footer user-dashboard-text-button p-4">
    <app-text-button
      [textButtonConfig]="viewAllAchievementButton"
      (buttonClicked)="viewAllAchievement()"
    ></app-text-button>
  </div>
</div>
